/* body, html {
    width: 100%;
    height: 100%;
} */
/* 
 {
    font: 500;   // change this later
} */

.wrapper {
    width: 70%;
    min-height: 500px;
    margin: 10% auto;
}

.game-container{
    width: 600px;
    height: 800px;

    display: flex;
    flex-wrap: nowrap;

    background-color: limegreen;
}

.grid {    /* grid */
    width: 400px;
    height: 800px;

    background-color: grey;

    display: flex;
    flex-wrap: wrap;
}

.grid-cell {
    width: 40px;
    height: 40px;
}

.tetromino {
    background-color: blue;   
}
/* 
.taken{
    width: 40px;
    height: 40px;
} */

.mini-grid {
    width: 80px;
    height: 80px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    background-color: lightgray ;
}

.mini-cell {
    width: 20px;
    height: 20px;
}

.game-stats {
    width: 200px;
    height: 70%;
}